* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}


.container {
    width: 85%;
    max-width: 1320px;
    margin: 0 auto;
}







/* banner styes */

.banner {
    background-image: url("../resources/Banner.png"), linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-blend-mode: overlay;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: 50px auto 120px auto;
    border-radius: 15px;
}

.banner .banner-text {
    padding-top: 20px;
    color: white;
    text-align: center;
}

.banner .banner-text h4 {
    font-size: 20px;
    padding-top: 150px;
}

.banner .banner-text h1 {
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    line-height: 80px;
    max-width: 632px;
    margin: 10px auto auto auto;
}





/* categories styles */

.categories-item {
    text-align: center;
}

.categories-item h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}


.categories-item p {
    color: #F00;
    font-size: 15px;
    font-weight: 500;
    margin: 30px auto 10px auto;
}

.categories-item h2 {
    color: #070211;
    font-size: 30px;
    font-weight: 700;
}

.categories-item img {
    max-width: 802.9px;
    max-height: 500px;
    margin-top: 45px;
}